.media-view {
    -fx-background-color: black;
}

.control-bar {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
}

.control-button {
    -fx-background-radius: 50;
    -fx-padding: 10;
}

.volume-slider {
    -fx-padding: 0 10;
}
/* Top section styling */
.app-header {
    -fx-background-color: #333;
    -fx-padding: 10;
}
.app-title {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Right section styling */
.playlist-box {
    -fx-background-color: #222;
    -fx-padding: 10;
}
.playlist-title {
    -fx-font-size: 14px;
    -fx-text-fill: #ccc;
}
.playlist-view {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
    -fx-border-color: #444;
}
