.media-view {
    -fx-background-color: black;
}

.control-bar {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
}

.control-button {
    -fx-background-radius: 50;
    -fx-padding: 10;
}

.volume-slider {
    -fx-padding: 0 10;
}
